body {
  text-align: center;  
}
.home {
  display: inline-block;
  position: relative;
  left: 0px;
  right: 100px;
}
.title {
  font-size: 60px;
  font-weight: 700;
  font-family: FreeMono, monospace;
  padding: 50px;
  color: white;
}
.box-title {
  background-color: black;
  height: 150px;
}
.msg {
  padding: 10px;
}
.submit {
  padding: 10px;
}
.btn {
  width: 200px;
  height: 30px;
  border: 1px solid none;
  border-radius: 5px;
  box-shadow: none;
  background-color: black;
  color: white;
  border-color: black;
}
.content {
  height: 60px;
  width: 500px;
  text-align: center;
  font-size: 18px;
}
.key {
  border-radius: 200px;
  height: 20px;
  border: solid 1px;
  border-color: gray;
  padding: 2px;
}
img {
  height: 90px;
  position: absolute;
  right: 100px;
  margin-top: 30px
}